@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poiret+One&display=swap');
@import 'normalize.css';


:root {
    --color-body: #3F1802;
    --color-highlight: #FF382C;

    --font-body: 'PT Sans', sans-serif;
    --font-polaroid: 'Poiret One', cursive;
}

.img img {
    max-width: 100%;
}

body {
    font-family: var(--font-body);
    background-image: url(assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100dvw;
    width: 100vw;
    min-height: 100dvh;
    min-height: 100vh;     
    margin: 0;
    padding: 0;
    color: var(--color-body);
    font-size: 24px;
            
        @media (min-width: 768px) {
            flex-direction: row;
        }    
    
    .content-wrap {
        max-width: 1728px;
        margin: 0 auto;    
        padding: 0 24px 72px;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 72px;
        
        @media (min-width: 768px) {
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 72px 24px;
            // margin: 0 auto 148px;    
        }

        .logo-wrap {
            padding: 72px 0;
            flex-basis: auto;
            position: relative;

            @media (min-width: 768px) {
                padding: 0 24px 72px;
            }
    
            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                inset: 50% -24px auto;
                border-bottom: 5px dashed #fff;
                
                @media (min-width: 768px) {
                    inset: -72px 50% -72px auto;
                    border-left: 5px dashed #fff;
                }
            }
        
            .logo {
                background-color: var(--color-body);
                border: 5px solid #fff;
                padding: 24px;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 226px;
                margin-inline: auto;
                // margin-bottom: 72px;
            }
        }
        
        
        main {
            
            @media (min-width: 768px) {
                padding-inline: 24px;
            }

            .line {
                position: absolute;
                z-index: -1;
                display: none;
                width: 80%;

                @media (min-width: 1200px) {
                    display: block;
                }
            }

            

            
            
            

            .card {
                background-color: #fff;
                padding: 48px 48px 72px;
                max-width: 720px;
                line-height: 36px;
                margin-inline: auto;
                margin-bottom: 144px;
                color: var(--color-body);
                font-size: 24px;
                position: relative;

                &.card1 {

                    @media (min-width: 1200px) {
                        margin-bottom: 260px;
                    }

                    .line1 {
                        content: url('assets/line1.png');
                        inset: 50% auto auto -165px;
                        
                        @media (min-width: 1400px) {
                            inset: 35% auto auto -293px;                        
                        }
        
                    }
                }

                &.card2 {
                    margin-bottom: 72px;
                    padding: 48px;

                    .line2 {
                        content: url('assets/line2.png');
                        inset: 66% 94px auto auto;
                        /* transform: rotate(-2deg); */
                        width: 90%;

                        @media (min-width: 1400px) {
                            inset: 66% -159px auto auto;
                        }
                        
                    }
                }

                h2 {
                    text-align: center;
                    line-height: 150%;
                }

                p {
                    margin: 0;
                }
                
                .cta {
                    position: absolute;
                    padding: 16px 48px 22px;
                    font-size: 32px;
                    font-family: var(--font-polaroid);
                    color: #fff;
                    background-color: var(--color-highlight);
                    border: 5px solid #fff;
                    // inset: auto 50% 0 auto;
                    // transform: translate(50%, 50%);
                    inset: auto calc(50% - 100px) calc(0% - 42px) auto;
                    white-space: nowrap;
                }
            }

            .section {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                gap: 24px;
                margin-bottom: 72px;
                
                @media (min-width: 1200px) {
                    gap: 48px;
                    flex-wrap: nowrap;
                    // margin-bottom: 220px;

                    
                }
                 
                @media (min-width: 1200px) {
                    > div {
                        &.img {
                                flex-basis: 45%;
                            }

                        &.text {
                            flex-basis: 55%;
                        }
                    }
                }

                // &.picture {
                //     @media (max-width: 1500px) {
                //         margin-bottom: 250px;
                //     }
                // }

                &.eye {
                    @media (min-width: 1200px) {
                        > div:first-child {
                            order: 2;
                        }
                    }

                    .line3 {
                        content: url('assets/line3.png');
                        inset: 65% auto auto -169px;
                        
                        @media (min-width: 1200px) {
                            inset: 85% auto auto -18px;
                        }
                    }
                }

                .img {
                    margin-inline: auto;

                    img {
                        max-width: 250px;

                        @media (min-width: 1200px) {
                            max-width: 100%;
                        }
                    }
                    

                }

                h3 {
                    font-size: 36px;
                    font-weight: bold;
                }
            }

            .polaroids {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                gap: 24px;
                margin-bottom: 72px;
                
                @media (min-width: 1200px) {
                    // margin-bottom: 220px;
                    flex-wrap: nowrap;
                }
                
                .item {
                    background-color: #fff;
                    padding: 12px;
                    width: 100%;
                    max-width: 400px;
                    margin-inline: auto;
                    font-family: var(--font-polaroid);

                    .img {
                        width: 100%;
                        aspect-ratio: 6/7;
                        object-fit: cover;
                        margin-bottom: 12px;
                    }

                    &:first-child {
                        .img {
                            background-image: url(assets/emad.jpg);
                            background-size: cover;
                        }
                    }

                    &:nth-child(2) {
                        .img {
                            background-image: url(assets/nyc.jpg);
                            background-size: cover;
                        }
                    }

                    &:nth-child(3) {
                        .img {
                            background-image: url(assets/garden.jpg);
                            background-size: cover;
                        }
                    }
                }
            }            
        }
    }
}



footer {
    background-color: var(--color-body);
    color: #fff;
    text-align: center;
    padding: 24px;
}